.box-1 {
  background-color: rgba(255, 0, 0, 0.9);
  height: 60px;
}
.box-2 {
  background-color: rgba(255, 0, 0, 0.8);
  height: 120px;
}
.box-3 {
  background-color: rgba(255, 0, 0, 0.7);
  height: 180px;
}
.box-4 {
  background-color: rgba(255, 0, 0, 0.6);
  height: 240px;
}
.box-5 {
  background-color: rgba(255, 0, 0, 0.5);
  height: 300px;
}
.box-6 {
  background-color: rgba(255, 0, 0, 0.4);
  height: 360px;
}
.box-7 {
  background-color: rgba(255, 0, 0, 0.3);
  height: 420px;
}
.box-8 {
  background-color: rgba(255, 0, 0, 0.2);
  height: 480px;
}
.box-9 {
  background-color: rgba(255, 0, 0, 0.1);
  height: 540px;
}
.container {
  width: 1000px;
  height: 600px;
  border-bottom: 5px solid #000;
  display: flex;
  align-items: flex-end;
}
.container > div {
  width: 80px;
  margin-left: 20px;
}
