.pad {
  padding: 0 15px;
}
.mar {
  margin: 0 auto;
}
.aaa {
  height: 80px;
}
.header {
  padding: 0 15px;
  margin: 0 auto;
  height: 80px;
}
.section {
  padding: 0 15px;
  margin: 0 auto;
}
.footer {
  padding: 0 15px;
  margin: 0 auto;
}
